
html {
  height:100%;
}
.link {
    stroke: #e0be7b;
    stroke-opacity: 1;
    stroke-width: .5;
}

.node text {
    font:5px sans-serif;
    font-weight: bold;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

body {
    overflow: hidden;
    margin: 0;
    background: #000000;
    font-size: 15px;
    color: white;
    height: 100%;

    font-family: "Arial Narrow";
}

#chart {
    position: absolute;
    top: 50px;
    left: 100px;
}

#container {

padding: 0 !important;

height: 100%;

width: 100%;
}

svg {

background-color: #000000;

width: 76%;

margin-top: 20px;

height: 95%;

margin-bottom: 20px;

display: inline-block;
}
