.link {
    stroke: #555;
}

.node text {
    font:8px sans-serif;
    font-weight: bold;
    color: #fff;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}


body {
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
   background-color: #4d4d4d;
}
#chart {
    position: absolute;
    top: 50px;
    left: 100px;
}